In [1]:
import pandas as pd
import numpy as np

df_index = pd.read_csv("index_finger_data.csv")
df_rest = pd.read_csv('rest_data.csv')
df_okay = pd.read_csv('okay_data.csv')

print('Index Data :\n',df_index)
print('Rest Data :\n',df_rest)
print('Okay Data :\n',df_okay)

Index Data :
       ch1  ch2  timestamp_ms         label
0     524  493             0  index_finger
1     532  576            10  index_finger
2     488  488            20  index_finger
3     579  538            30  index_finger
4     476  527            40  index_finger
...   ...  ...           ...           ...
2995  527  515         29950  index_finger
2996  450  526         29960  index_finger
2997  543  508         29970  index_finger
2998  557  439         29980  index_finger
2999  523  441         29990  index_finger

[3000 rows x 4 columns]
Rest Data :
       ch1  ch2  timestamp_ms label
0     513  486             0  rest
1     522  570            10  rest
2     486  496            20  rest
3     575  522            30  rest
4     487  518            40  rest
...   ...  ...           ...   ...
2995  521  500         29950  rest
2996  446  516         29960  rest
2997  547  496         29970  rest
2998  556  447         29980  rest
2999  522  432         29990  rest

[3000 rows x 4 columns]
Okay Data :
       ch1  ch2  timestamp_ms label
0     549  518             0  okay
1     557  601            10  okay
2     513  513            20  okay
3     603  563            30  okay
4     501  552            40  okay
...   ...  ...           ...   ...
2995  551  540         29950  okay
2996  475  550         29960  okay
2997  568  533         29970  okay
2998  582  464         29980  okay
2999  548  466         29990  okay

[3000 rows x 4 columns]

In [23]:
print(df_index.head(),'\n')
print(df_rest.head(),'\n')
print(df_okay.head(),'\n')

   ch1  ch2  timestamp_ms         label
0  524  493             0  index_finger
1  532  576            10  index_finger
2  488  488            20  index_finger
3  579  538            30  index_finger
4  476  527            40  index_finger

   ch1  ch2  timestamp_ms label
0  513  486             0  rest
1  522  570            10  rest
2  486  496            20  rest
3  575  522            30  rest
4  487  518            40  rest

   ch1  ch2  timestamp_ms label
0  549  518             0  okay
1  557  601            10  okay
2  513  513            20  okay
3  603  563            30  okay
4  501  552            40  okay

In [25]:
df_index.info()
df_rest.info()
df_okay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ch1           3000 non-null   int64
 1   ch2           3000 non-null   int64
 2   timestamp_ms  3000 non-null   int64
 3   label         3000 non-null   object
dtypes: int64(3), object(1)
memory usage: 93.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ch1           3000 non-null   int64
 1   ch2           3000 non-null   int64
 2   timestamp_ms  3000 non-null   int64
 3   label         3000 non-null   object
dtypes: int64(3), object(1)
memory usage: 93.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ch1           3000 non-null   int64
 1   ch2           3000 non-null   int64
 2   timestamp_ms  3000 non-null   int64
 3   label         3000 non-null   object
dtypes: int64(3), object(1)
memory usage: 93.9+ KB

In [35]:
print(df_index.describe())
print(df_rest.describe())
#df_okay.describe()

               ch1          ch2  timestamp_ms
count  3000.000000  3000.000000   3000.000000
mean    505.505000   505.875667  14995.000000
std      53.460091    54.600921   8661.697293
min     325.000000   320.000000      0.000000
25%     470.000000   470.000000   7497.500000
50%     506.000000   506.000000  14995.000000
75%     540.000000   544.000000  22492.500000
max     683.000000   702.000000  29990.000000
               ch1          ch2  timestamp_ms
count  3000.000000  3000.000000   3000.000000
mean    499.082667   499.419667  14995.000000
std      50.288343    51.449793   8661.697293
min     317.000000   334.000000      0.000000
25%     465.000000   465.000000   7497.500000
50%     499.000000   500.000000  14995.000000
75%     532.000000   533.000000  22492.500000
max     666.000000   716.000000  29990.000000

In [46]:
df_index['ch1']

df_rest[(df_index['ch1'] > 600) & (df_okay['ch1'] > 600)]

      ch1  ch2  timestamp_ms label
110   627  406          1100  rest
117   604  541          1170  rest
126   632  554          1260  rest
142   600  396          1420  rest
187   605  472          1870  rest
...   ...  ...           ...   ...
2835  608  502         28350  rest
2885  575  499         28850  rest
2898  636  479         28980  rest
2904  645  497         29040  rest
2923  656  437         29230  rest

[61 rows x 4 columns]

In [51]:
df_index.groupby('label').mean()

                  ch1         ch2  timestamp_ms
label
index_finger  505.505  505.875667       14995.0

In [52]:
combined_df = pd.concat([df_rest, df_okay, df_index])

combined_df.groupby('label').mean()

                     ch1         ch2  timestamp_ms
label
index_finger  505.505000  505.875667       14995.0
okay          499.159000  499.547667       14995.0
rest          499.082667  499.419667       14995.0

In [83]:
import numpy as np

arr1 = np.array([1, 2, 3, 4, 5]);
print(arr1);
arr2=np.linspace(1, 5, 5);
print(arr2)
print(arr1==arr2)
arr2=np.rint(arr2).astype(int)
print(arr1==arr2)
print(np.mean(arr1))
print(np.std(arr1))
print(np.diff(arr1))
print(np.sign(arr1 - 3)) 
print(arr1[2:5])
print(arr1.reshape(5,1))

[1 2 3 4 5]
[1. 2. 3. 4. 5.]
[ True  True  True  True  True]
[ True  True  True  True  True]
3.0
1.4142135623730951
[1 1 1 1]
[-1 -1  0  1  1]
[3 4 5]
[[1]
 [2]
 [3]
 [4]
 [5]]